<nav [ngStyle]="{ background: background }">
    <ul
        [ngStyle]="{ background: background }"
        [ngClass]="{ active: navOpen }"
    >
        <figure
            (click)="setNavSlider()"
            class="logo-image"
        >
            <img
                [src]="logo"
                height="40px"
                width="40px;"
                alt="logo-image"
            />
        </figure>
        <li
            *ngFor="let link of navLinks"
            #navItem
            (mouseenter)="navItem.style.background = hoverBackground || '#444'"
            (mouseleave)="navItem.style.background = background || '#222'"

        >
            <a [routerLink]="link.path"
                [ngStyle]="{ color: linkColor || '#ddd' }"
            >
                {{ link.text }}
                <i [class]="link.icon" class="nav-icon" ></i>
            </a>
        </li>
    </ul>
</nav>