
@import 'https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css';

body {
    margin: 0;  
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 759px) {
    body {
        margin-left: 60px;
    }
}